<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.mapper.CartItemMapper">


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_cartitem
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <select id="selectCountByWorkIdAndPrintNo" resultType="int">
    SELECT
  </select>


  <insert id="insert" parameterType="com.qfedu.domain.CartItem" useGeneratedKeys="true">
    insert into t_cartitem (cid, wid, createtime, print_no,
    frame_type, frame_price, card_type, trans_price)
    values (#{cid,jdbcType=INTEGER}, #{wid,jdbcType=INTEGER}, now(),
    #{printNo}, #{frameType}, #{framePrice}, #{cardType}, #{transPrice})
  </insert>


</mapper>