<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.mapper.OrderItemMapper">

  <resultMap id="OrderItemVoRM" type="com.qfedu.common.vo.OrderItemVo">
    <id property="orderItemId" column="order_item_id" jdbcType="INTEGER"/>
    <result column="count" property="count" />
    <result column="print_no" property="printNo"/>
    <result column="frame_type" property="frameType" jdbcType="VARCHAR"/>
    <result column="card_type" property="cardType" jdbcType="VARCHAR"/>
    <result column="frame_price" property="framePrice" jdbcType="INTEGER"/>
    <result column="trans_price" property="transPrice" jdbcType="INTEGER"/>

    <result column="wid" jdbcType="INTEGER" property="wid" />
    <result column="picurl" jdbcType="VARCHAR" property="picurl" />
    <result column="name" jdbcType="VARCHAR" property="workName" />
    <result column="price" jdbcType="INTEGER" property="workPrice" />
    <result column="wide" jdbcType="INTEGER" property="wide" />
    <result column="high" jdbcType="INTEGER" property="high" />
    <result column="deep" jdbcType="INTEGER" property="deep" />

    <result column="artist_id" jdbcType="INTEGER" property="artistId" />
    <result column="artist_truename" jdbcType="VARCHAR" property="artistName" />
  </resultMap>

  <insert id="insert" parameterType="com.qfedu.domain.OrderItem" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
    insert into t_orderitem (oid, gid, `count`, print_no,
    frame_type, frame_price, card_type, trans_price)
    values (#{oid,jdbcType=INTEGER}, #{gid,jdbcType=INTEGER},
      #{count,jdbcType=INTEGER}, #{printNo}, #{frameType}, #{framePrice}, #{cardType}, #{transPrice}
      )
  </insert>

  <select id="selectByOrderId" resultMap="OrderItemVoRM">
    SELECT
    oi.`id` order_item_id,
    oi.`count` `count`,
    oi.`card_type`,
    oi.`frame_type`,
    oi.`frame_price`,
    oi.`trans_price`,
    oi.`print_no`,
    wi.`wid`,
    wi.`name` workName,
    wi.`picurl`,
    wi.`price` workPrice,
    wi.`wide`,
    wi.`high`,
    wi.`deep`,
    a.`id` artistId,
    a.`truename` artistName
    FROM t_order o
    LEFT JOIN t_orderitem oi ON o.id=oi.`oid`
    LEFT JOIN t_workitem wi ON oi.`wid`=wi.`wid`
    LEFT JOIN t_work w ON wi.`wid`=w.`id`
    LEFT JOIN t_artist a ON w.`uid`=a.`uid`
    WHERE o.uid = #{uid}
  </select>

</mapper>