<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.mapper.WorkItemMapper">
  <resultMap id="BaseResultMap" type="com.qfedu.domain.WorkItem">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="wid" jdbcType="INTEGER" property="wid" />
    <result column="picurl" jdbcType="VARCHAR" property="picurl" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="maininfo" jdbcType="VARCHAR" property="maininfo" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="price" jdbcType="INTEGER" property="price" />
    <result column="createtime" jdbcType="DATE" property="createtime" />
    <result column="material" jdbcType="VARCHAR" property="material" />
    <result column="wide" jdbcType="INTEGER" property="wide" />
    <result column="high" jdbcType="INTEGER" property="high" />
    <result column="deep" jdbcType="INTEGER" property="deep" />
    <result column="color" jdbcType="INTEGER" property="color" />
    <result column="shape" jdbcType="INTEGER" property="shape" />
  </resultMap>
  <sql id="Base_Column_List">
    id, wid, picurl, type, maininfo, name, price, createtime, material, wide, high, deep, 
    color, shape
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_workitem
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_workitem
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qfedu.domain.WorkItem">
    insert into t_workitem (id, wid, picurl, 
      type, maininfo, name, 
      price, createtime, material, 
      wide, high, deep, color, 
      shape)
    values (#{id,jdbcType=INTEGER}, #{wid,jdbcType=INTEGER}, #{picurl,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{maininfo,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{price,jdbcType=INTEGER}, #{createtime,jdbcType=DATE}, #{material,jdbcType=VARCHAR}, 
      #{wide,jdbcType=INTEGER}, #{high,jdbcType=INTEGER}, #{deep,jdbcType=INTEGER}, #{color,jdbcType=INTEGER}, 
      #{shape,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.qfedu.domain.WorkItem">
    insert into t_workitem
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="wid != null">
        wid,
      </if>
      <if test="picurl != null">
        picurl,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="maininfo != null">
        maininfo,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="material != null">
        material,
      </if>
      <if test="wide != null">
        wide,
      </if>
      <if test="high != null">
        high,
      </if>
      <if test="deep != null">
        deep,
      </if>
      <if test="color != null">
        color,
      </if>
      <if test="shape != null">
        shape,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="wid != null">
        #{wid,jdbcType=INTEGER},
      </if>
      <if test="picurl != null">
        #{picurl,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="maininfo != null">
        #{maininfo,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=DATE},
      </if>
      <if test="material != null">
        #{material,jdbcType=VARCHAR},
      </if>
      <if test="wide != null">
        #{wide,jdbcType=INTEGER},
      </if>
      <if test="high != null">
        #{high,jdbcType=INTEGER},
      </if>
      <if test="deep != null">
        #{deep,jdbcType=INTEGER},
      </if>
      <if test="color != null">
        #{color,jdbcType=INTEGER},
      </if>
      <if test="shape != null">
        #{shape,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qfedu.domain.WorkItem">
    update t_workitem
    <set>
      <if test="wid != null">
        wid = #{wid,jdbcType=INTEGER},
      </if>
      <if test="picurl != null">
        picurl = #{picurl,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="maininfo != null">
        maininfo = #{maininfo,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=DATE},
      </if>
      <if test="material != null">
        material = #{material,jdbcType=VARCHAR},
      </if>
      <if test="wide != null">
        wide = #{wide,jdbcType=INTEGER},
      </if>
      <if test="high != null">
        high = #{high,jdbcType=INTEGER},
      </if>
      <if test="deep != null">
        deep = #{deep,jdbcType=INTEGER},
      </if>
      <if test="color != null">
        color = #{color,jdbcType=INTEGER},
      </if>
      <if test="shape != null">
        shape = #{shape,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qfedu.domain.WorkItem">
    update t_workitem
    set wid = #{wid,jdbcType=INTEGER},
      picurl = #{picurl,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      maininfo = #{maininfo,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      price = #{price,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=DATE},
      material = #{material,jdbcType=VARCHAR},
      wide = #{wide,jdbcType=INTEGER},
      high = #{high,jdbcType=INTEGER},
      deep = #{deep,jdbcType=INTEGER},
      color = #{color,jdbcType=INTEGER},
      shape = #{shape,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="querycommend" parameterType="String" resultType="com.qfedu.common.vo.Recommendvo">
    select u.id, a.truename, wt.picurl, wt.price, wt.name, wt.material,
      wt.high, wt.wide, wt.createtime
      from t_user u
      LEFT OUTER JOIN t_artist a on u.id = a.uid
      LEFT OUTER JOIN t_work w on w.uid = u.id
      LEFT OUTER JOIN t_workitem wt on wt.wid = w.id
      where u.flag = 0 and wt.type like #{type}
  </select>

  <select id="selectCount" resultType="int">
    select count(*) from t_workitem
  </select>

  <select id="qeurylastest" resultType="com.qfedu.common.vo.Recommendvo">

  select u.id, a.truename, wt.picurl, wt.name, wt.material,
      wt.high, wt.wide, wt.price, wt.createtime
      from t_user u
      LEFT OUTER JOIN t_artist a on u.id = a.uid
      LEFT OUTER JOIN t_work w on w.uid = u.id
      LEFT OUTER JOIN t_workitem wt on wt.wid = w.id
      where u.flag = 0 ORDER BY wt.createtime DESC LIMIT #{index},#{count}
  </select>

  
  <select id="queryAllarea" resultType="com.qfedu.common.vo.Recommendvo">
   select u.id, a.truename, wt.picurl, wt.price, wt.name, wt.type, wt.maininfo, wt.material,
      wt.high, wt.wide, wt.createtime
      from t_user u
      LEFT OUTER JOIN t_artist a on u.id = a.uid
      LEFT OUTER JOIN t_work w on w.uid = u.id
      LEFT OUTER JOIN t_workitem wt on wt.wid = w.id
      <where> u.flag = 0
        <if test="type != null">
          and wt.type = #{type}
        </if>
        <if test="maininfo != null">
          and wt.maininfo = #{maininfo}
        </if>
        <if test="p0 != null">
          and wt.price between #{p0} and #{p1}
        </if>
      </where>
  </select>
</mapper>